* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #fbe4bb;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #ff8a60;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
}

nav a:hover {
    background: #ff622a; 
    border-radius: 5px;
}


.community-section {
    padding: 20px;
}

.stories-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.story-card {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
}

.write-story-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.write-story-btn:hover {
    background: #0056b3;
} 