* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #fbe4bb; 
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #ff8a60;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
}

nav a:hover {
    background: #ff622a;
    border-radius: 5px;
}


#video {
    margin: 20px 0;
    text-align: center;
}


#background-story {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #333; 
}


#report {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
}

.user-report {
    display: flex;
    gap: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-report img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.user-report p {
    flex: 1;
    padding-left: 15px;
    font-size: 1rem;
    color: #333;
}

/* salmon-Report */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: 'Lora', serif;
}

input[type="file"] {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: rgb(111, 147, 221);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: rgb(64, 114, 215);
}


@media (max-width: 768px) {
    #report {
        flex-direction: column;
    }

    .user-report {
        flex-direction: column;
    }

    .user-report img {
        width: 100%;
        max-width: none;
    }
}


footer {
    display:flex;

    color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Lora', serif;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

footer p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer a {
    color: black;
    text-decoration: none;
    
    transition: color 0.3s;
}

footer a:hover {
    color: #ff622a; 
}

.footer-decor {
    width: 120px; 
    height: auto;
}

.footer-content {
    text-align: center;
    flex-grow: 1;
}

.footer-decor.left {
    margin-right: 20px;
}

.footer-decor.right {
    margin-left: 20px;
}